<html>
    <head th:replace="fragments/headTag :: headTag">

    </head>
    <body>

        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>

            <h2>Login</h2>
            <p th:text="${message}"></p>
            
            <form th:object="${login}" action="login.html" th:action="@{/login/loginProcess}" method="post" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Username</th>
                            <td>
                                <input type="text" name="username" th:value="${login.username}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>
                                <input type="password" name="password" th:value="${login.password}"/>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <button class="btn btn-primary btn-lg pull-right" type="submit">Login</button>
                            </td>
                        </tr>
                    </table>

                </fieldset>
            </form>

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>

</html>
