<html>
<head th:replace="fragments/headTag :: headTag">

</head>
<body>

<div class="container">
    <div th:include="fragments/bodyHeader" th:remove="tag">
    </div>

    <h2>Error</h2>
    <p>
        You don't have permission to view this page. <a href="../" th:href="@{/}">Click here</a> to go home.
    </p>

    <div th:include="fragments/footer" th:remove="tag">
    </div>
</div>
</body>

</html>