<html>
<head th:replace="fragments/headTag :: headTag">

</head>
<body>

<div class="container">
    <div th:include="fragments/bodyHeader" th:remove="tag">
    </div>

    <h2>Register</h2>
    <p th:text="${message}"></p>

    <form th:object="${user}" action="registerProcess.html" th:action="@{/login/registerProcess}" method="post" class="form-horizontal">
        <input type="hidden" name="userTypeCode" th:value="${user.userTypeCode}"/>
        <input type="hidden" name="id" th:value="${user.id}"/>
        <fieldset>
            <table class="table table-striped">
                <tr>
                    <th>Username</th>
                    <td>
                        <input type="text" name="userName" th:value="${user.userName}"/>
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>
                        <input type="password" name="passWord" th:value="${user.passWord}"/>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <button class="btn btn-primary btn-lg pull-right" type="submit">Register</button>
                    </td>
                </tr>
            </table>

        </fieldset>
    </form>

    <div th:include="fragments/footer" th:remove="tag">
    </div>
</div>
</body>

</html>
