<html>
<head th:replace="fragments/headTag :: headTag">

</head>
<body>

<div class="container">
    <div th:include="fragments/bodyHeader" th:remove="tag">
    </div>

    <div><h2 th:text="${title}"></h2></div>
    <span th:text="${message}"></span>

    <div>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </div>
</div>
</body>

</html>