<html>
<head th:replace="fragments/headTag :: headTag">

</head>
<body>

<div class="container">
    <div th:include="fragments/bodyHeader" th:remove="tag">
    </div>

    <div><h2>Your Infractions</h2></div>
    <p>The following are all the infractions that have been applied to passes you own. Click the infraction ID for more info.</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 35px;">ID</th>
            <th style="width: 65px;">Title</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="infractions : ${infractions}">
            <td th:text="${infractions.id}"></td>
            <td th:text="${infractions.infTitle}"></td>
            <td th:text="${infractions.infDescription}"></td>
        </tr>
        </tbody>
    </table>

    <div th:include="fragments/footer" th:remove="tag">
    </div>
</div>
</body>

</html>