<html>
<head th:replace="fragments/headTag :: headTag">

</head>
<body>

<div class="container">
    <div th:include="fragments/bodyHeader" th:remove="tag">
    </div>

    <div><h2>Details For Plate: <span th:text="${pass.plateNumber}"></span></h2></div>
    <p>
        <b>Pass ID:</b> <span th:text="${pass.id}"></span><br />
        <b>Plate Number:</b> <span th:text="${pass.plateNumber}"></span><br />
        <b>Issuing Province:</b> <span th:text="${pass.plateProvince}"></span><br />
        <b>Car Make:</b> <span th:text="${pass.carMake}"></span><br />
        <b>Car Model:</b> <span th:text="${pass.carModel}"></span><br />
        <b>Graduation Year:</b> <span th:text="${pass.graduationYear}"></span>
    </p>


    <div><h3>Infractions For Plate: <span th:text="${pass.plateNumber}"></span></h3></div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 100px;">Date</th>
            <th style="width: 100px;">Title</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="infractions : ${infraction}">
            <td th:text="${infractions.infDate}"></td>
            <td th:text="${infractions.infTitle}"></td>
            <td th:text="${infractions.infDescription}"></td>
        </tr>
        </tbody>
    </table>

    <div th:include="fragments/footer" th:remove="tag">
    </div>
</div>
</body>

</html>