<html>
<head th:replace="fragments/headTag :: headTag">

</head>
<body>

<div class="container">
    <div th:include="fragments/bodyHeader" th:remove="tag">
    </div>

    <div><h2>Holland College Parking</h2></div>

    <p>Welcome to the holland college parking pass system. Using this system you can register your car in order to
    park in the Holland College parking lots, and view any current infractions you may have.</p>

    <p>To use the parking pass system you will first need to register for an account. To do this, please
        <a href="/login/userRegister" th:href="@{/login/userRegister}">click here</a>.</p>

    <p>If you would like to find out more about parking at the college please
        <a href="http://www.hollandcollege.com/parking/">click here</a> for more information</p>

    <h3>Parking Map</h3>

    <p> The following is a map of Holland College and it's parking areas.<br />
        <img th:src="@{/resources/images/Parking-Map.png}" src="../../../resources/images/Parking-Map.png" />
    </p>


    <div th:include="fragments/footer" th:remove="tag">
    </div>
</div>
</body>

</html>
