<!DOCTYPE html>

<html lang="en">
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <img style="vertical-align: bottom; float:left; width: 7.5% " th:src="@{/resources/images/parking-icon.gif}"
                     src="../../../resources/images/parking-icon.gif" /><h1>Holland College<small>&nbsp;Parking Pass System</small></h1>
            </div>

            <div class="navbar-inner" >
                <ul  class="nav">
                    <li><a href="/" th:href="@{/}">Index</a></li>

                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            Parking Pass Tools
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/parking/pass_overview" th:href="@{/parking/pass_overview}">Your Passes</a></li>
                            <li><a href="/parking/infractions" th:href="@{/parking/infractions}">Your Infractions</a></li>
                        </ul>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../other/loginForm" th:href="@{/login/loginForm}">Login/Logout</a></li>
                    <li class="divider"></li>
                    <li><a href="../other/about" th:href="@{/other/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>
            </div>
        </div>
    </body>

</html>