<html>
<head th:replace="fragments/headTag :: headTag">

</head>
<body>

<div class="container">
    <div th:include="fragments/bodyHeader" th:remove="tag">
    </div>

    <div><h2>Admin Control Panel</h2></div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Plate Number</th>
            <th style="width: 150px;">Issuing Province</th>
            <th style="width: 150px;">Car Make</th>
            <th style="width: 150px;">Car Model</th>
            <th style="width: 150px;">Graduation Year</th>
            <th style="width: 150px;">Tools</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="passes : ${passes}">
            <td th:text="${passes.plateNumber}"></td>
            <td th:text="${passes.plateProvince}"></td>
            <td th:text="${passes.carMake}"></td>
            <td th:text="${passes.carModel}"></td>
            <td th:text="${passes.graduationYear}"></td>
            <td>
                <a th:href="@{/admin/addInfraction(passid=${passes.id})}">Apply Infraction</a><br />
                <a th:href="@{/admin/viewInfractionsOnPass(passid=${passes.id})}">View Infraction(s)</a><br />
                <a th:href="@{/admin/delete(passid=${passes.id})}">Revoke Pass</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </div>
</div>
</body>

</html>