<html>
<head th:replace="fragments/headTag :: headTag">

</head>
<body>

<div class="container">
    <div th:include="fragments/bodyHeader" th:remove="tag">
    </div>

    <div><h2>Infractions for plate: <span th:text="${pass.plateNumber}"></span></h2></div>
    <p>The following are all the infractions that have been applied to plate <span th:text="${pass.plateNumber}"></span>. Click the infraction ID for more info.</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 35px;">ID</th>
            <th style="width: 65px;">Title</th>
            <th>Description</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="infractions : ${inf}">
            <td th:text="${infractions.id}"></td>
            <td th:text="${infractions.infTitle}"></td>
            <td th:text="${infractions.infDescription}"></td>
            <td>
                <a th:href="@{/admin/removeInfraction(infid=${infractions.id},passid=${pass.id})}">Remove Infraction</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:include="fragments/footer" th:remove="tag">
    </div>
</div>
</body>

</html>