<html>
<head th:replace="fragments/headTag :: headTag">
</head>
<body>


<div class="container navbar" >
    <div th:include="fragments/bodyHeader" th:remove="tag">
    </div>
</div>
<div style="text-align: left;" class="container" ><h2>Error</h2></div>
<div style="text-align: left;" class="container"  >
    There was an error processing your request!<br />
    The error given was: <span th:text="${message}"></span>
</div>

<div class="container">
    <div th:include="fragments/footer" th:remove="tag">
    </div>
</div>

</body>

</html>